@import "../../vars.css";

.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 49px;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
  }

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-text);
  z-index: 1;
}

.title {
  font-size: 72px;
  font-weight: 900;
  margin-top: 164px;
  margin-bottom: 33px;
  font-family: var(--font-roboto);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 70%,
    rgba(255, 255, 255, 0) 120%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.description {
  font-size: 30px;
  font-family: var(--font-roboto);
  margin-bottom: 171px;
  margin-right: 20px;
}
.contactBtn {
  text-decoration: none;
  background-color: #F6AA58;
  color: var(--color-text);
  text-align: center;
  
  width: 342px;
  height: 105px;

  border-radius: 100px;
  font-size:36px;
  font-weight: 600;
  padding: 29px 44px;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25);
}

.contactBtn:hover{
  color:#000;
  transition:0.5s;
  box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.25);
}

.heroImg {
   width: 50%;
   z-index: 1;

   animation-name: floating;
   animation-duration: 3s;
   animation-iteration-count: infinite;
   animation-timing-function: ease-in-out;
}

.vinylWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  cursor: pointer;
}

.vinylContainer {
  position: relative;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vinyl {
  width: 300px;
  transition: transform 0.3s ease-in-out;
}

.spinning {
  animation: spin 3s linear infinite;
}

.vinylContainer:hover::after {
  content: '';
  position: absolute;
  width: 320px;
  height: 320px;
  border-radius: 50%;
  background: radial-gradient(circle, #ff4d4d33 0%, transparent 80%);
  filter: blur(20px);
  pointer-events: none;
  animation: hoverPulse 2s infinite;
}

.pulse {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 180px;
  height: 180px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  animation: centerPulse 2s infinite;
  z-index: -1;
}

/* Keyframes */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes hoverPulse {
  0% { transform: scale(1); opacity: 0.6; }
  50% { transform: scale(5); opacity: 0.3; }
  100% { transform: scale(1); opacity: 0.6; }
}

@keyframes centerPulse {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.8;
  }
  100% {
    transform: translate(-50%, -50%) scale(5);
    opacity: 0;
  }
}


@keyframes floating{
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.topBlur {
  position: absolute;
  width: 50vw;
  height: 50vw;
  min-width: 350px;
  min-width: 350px;
  top: -128px;
  left: -10vw;
  border-radius: 764px;
  background: rgba(25, 55, 109, 0.7);
  filter: blur(100px);
  z-index: 0;
}

.bottomBlur {
  position: absolute;
  width: 70vw;
  height: 50vw;
  min-width: 350px;
  min-width: 250px;
  top: 246px;
  right: -25vw;
  border-radius: 764px;
  background: rgba(25, 55, 109, 0.7);
  filter: blur(100px);
  z-index: 0;
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column-reverse;
  }

  .content {
    align-items: center;
  }
}





